AlegriActionPackSharePointProvisioning/AlegriActionPackSharePointProvisioning/XMLSchema/AlegriAP_SPProvisioningSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:alg="http://schemas.powershell.ActionFlow.alegri.eu"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://schemas.powershell.ActionFlow.alegri.eu"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ActionObject">
    <xs:annotation>
      <xs:documentation>
        This describes an ActionObject
        Hiermit wird ein Action Object beschrieben
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <!--From here you can define your action elements -->
        <!--Ab hier können Sie ihre Aktionselemente hinterlegen-->
        <xs:element name="AP_SPProvisioning_ClearLookupSiteColumnAfterProvisioning" type="alg:ClearLookupSiteColumnAfterProvisioning" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="AP_SPProvisioning_ClearLookupSiteColumnOnContentType" type="alg:ClearLookupSiteColumnOnContentType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="AP_SPProvisioning_ClearLookupSiteColumnOnList" type="alg:ClearLookupSiteColumnOnList" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="AP_SPProvisioning_ClearLookupSiteColumn" type="alg:ClearLookupSiteColumn" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="AP_SPProvisioning_RemovedSiteColumn" type="alg:RemovedSiteColumn" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="AP_SPProvisioning_RemovedSiteColumnFromContentType" type="alg:RemovedSiteColumnFromContentType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="AP_SPProvisioning_PnPProvisioning" type="alg:PnPProvisioning" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="AP_SPProvisioning_GetProvisioningTemplate" type="alg:GetProvisioningTemplate" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="AP_SPProvisioning_RemovedContentType" type="alg:RemovedContentType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="AP_SPProvisioning_RemovedListCorrectly" type="alg:RemovedListCorrectly" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="AP_SPProvisioning_CleanPnPTemplateSiteColumnByGroupName" type="alg:CleanPnPTemplateSiteColumnByGroupName" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="AP_SPProvisioning_CleanPnPTemplateContentTypeByGroupName" type="alg:CleanPnPTemplateContentTypeByGroupName" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="AP_SPProvisioning_SetSiteColumnDisplayName" type="alg:AP_SPProvisioning_SetSiteColumnDisplayName" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="AP_SPProvisioning_ChangeVersionInFile" type="alg:ChangeVersionInFile" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="AP_SPProvisioning_AddWebPartToSite" type="alg:AddWebPartToSite" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="AP_SPProvisioning_RemoveContentTypFromListItems" type="alg:RemovedContentTypeFromListItems" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="AP_SPProvisioning_GetListContentsToCSV" type="alg:ListContentsToCSV" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="AP_SPProvisioning_AddListContentsFromCSV" type="alg:AddListContentFromCSV" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="AP_SPProvisioning_AddFieldsOnListFromProvXML" type="alg:AddFieldsOnListFromProvXML" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ClearLookupSiteColumnAfterProvisioning">
    <xs:annotation>
      <xs:documentation>
        This action repairs the Lookup SiteColumn Schema after the Provisioning
        Diese Aktion repariert das Schema von Lookup Site Column nach der Provisionierung.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="pathToProvisioningXML" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          The path to the ProvisioningXML where the SiteColumn are contained.
          Der Pfad zur ProvisioningXML wo die SiteColumn enthalten sind.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="ClearLookupSiteColumnOnContentType">
    <xs:annotation>
      <xs:documentation>
        Clean the reference of the LookUpSiteColumn within the ContentType
        Bereinige die Referenz der LookUpSiteColumn innerhalb des ContentTypes
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="ContentTypeName" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          The ContentType where the column is contained
          Der ContentType wo die Spalte enthalten ist
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="FieldName" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          The lookup column to be customized
          Die Lookup Spalte die angepasst werden soll
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ListName" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          The List Name for the schema
          Die List Name für das Schema
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="ClearLookupSiteColumnOnList">
    <xs:annotation>
      <xs:documentation>
        Clean the reference of the LookUpSiteColumn within the list
        Bereinige die Referenz der LookUpSiteColumn innerhalb der Liste
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="ListNameFromField" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          The list where the column is contained
          Die Liste wo die Spalte enthält
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="FieldName" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          The lookup column to be customized
          Die Lookup Spalte die angepasst werden soll
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ListName" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          The List Name for the schema
          Die List Name für das Schema
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="ClearLookupSiteColumn">
    <xs:annotation>
      <xs:documentation>
        Adapt the Schema XML from SiteColumn
        Anpassung der Schema XML der SiteColumn
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="FieldName" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          The lookup column to be customized
          Die Lookup Spalte die angepasst werden soll
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ListName" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          The List Name for the schema
          Die List Name für das Schema
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="RemovedSiteColumn">
    <xs:annotation>
      <xs:documentation>
        You hereby remove the SiteColumn from the current Website
        Sie entfernen hiermit die SiteColumn von der aktuellen Website
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="FieldName" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          The name of the SiteColumn to remove
          Den Namen des SiteColumn das entfernt werden soll
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="GroupName" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          The group names of the SiteColumns to be removed. When you use the group name, the SiteColumn name is ignored, if passed.
          Den Gruppennamen der SiteColumns die entfernt werden sollen. Bei der Verwendung des Gruppennamens wird die SiteColumn Namen, falls ebenfalls übergeben, ignoriert.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="RemovedSiteColumnFromContentType">
    <xs:annotation>
      <xs:documentation>
        This removes SiteColumn from the ContentType
        Sie entfernen hiermit SiteColumn von dem ContentType
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="FieldName" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          The name of the SiteColumn to remove. If you do not specify a value here, all SiteColumns are removed from the ContentType
          Den Namen des SiteColumn das entfernt werden soll. Wenn Sie hier keinen Wert angeben werden alle SiteColumns vom ContentType entfernt
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ContentTypeName" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          The name of the ContentType where the SiteColumn should be removed
          Den Namen des ContentType wo die SiteColumn entfernt werden soll
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DoNotUpdateChildren" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>
          If you do not want the ContentTypes to be updated with Updated, please enter False. Default is true
          Sollten Sie es nicht wünschen das die Veerbten ContentTypes mit Upgedatet werden, geben Sie hier bitte False ein. Default ist True
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="PnPProvisioning">
    <xs:annotation>
      <xs:documentation>
        This provisioning is performed by PnP template.
        Hiermit wird die Provisionierung vom PnP Template durchgeführt.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="pathToProvisioningXML" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          The path to the ProvisioningXML where provision should be made
          Der Pfad zur ProvisioningXML wo Provisioniert werden soll
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Handlers" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          Nur Spezielle Artefakte des Templates Provisionieren
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="GetProvisioningTemplate">
    <xs:annotation>
      <xs:documentation>
        This creates a provisioning template from the current site

        Hiermit wird aus der aktuellen verbundene Site ein Provisiong Template erstellt.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="Out" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          The path where the template is to be placed after creation.

          Der Pfad wo das Template nach Erstellung abgelegt werden soll.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="StandardArtefactsOutput" type="xs:boolean" use="optional" default="true">
      <xs:annotation>
        <xs:documentation>
          Default is the value True and only the following artifacts are considered => Navigation, Fields, ContentTypes, Lists, CustomActions, Files

          Default ist der Wert True und es werden nur folgende Artefakten berücksichtigt => Navigation, Fields, ContentTypes, Lists, CustomActions, Files
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Handlers" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          Nur Spezielle Artefakte des Templates ausgeben : Navigation, Fields, ContentTypes, Lists, CustomActions, Files
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="RemovedContentType">
    <xs:annotation>
      <xs:documentation>
        Removes ContentType from the current linked site
        Hiermit entfernen Sie ContentType aus der aktuellen verbundene Site
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="Name" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          The name of the ContentType to remove
          Den Namen des ContentType das entfernt werden soll
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="GroupName" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          The group names of the ContentType to be removed. When you use the group name, the ContentType name is ignored, if passed.
          Den Gruppennamen der ContentTypes die entfernt werden sollen. Bei der Verwendung des Gruppennamens wird der ContentType Namen, falls ebenfalls übergeben, ignoriert.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="RemovedListCorrectly">
    <xs:annotation>
      <xs:documentation>
        Hiermit wird das Entfernen der Listen angestossen
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="pathToProvisioningXML" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          The path to the ProvisioningXML where provision should be made
          Der Pfad zur ProvisioningXML wo Provisioniert werden soll
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ListName" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          Der Listenname der gelöscht werden soll
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="CleanPnPTemplateSiteColumnByGroupName">
    <xs:annotation>
      <xs:documentation>
        Damit werden SitColumns aus dem Provisioning Template entfernt
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="pathToProvisioningXML" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          The path to the ProvisioningXML where the SiteColumn are contained.
          Der Pfad zur ProvisioningXML wo die SiteColumn enthalten sind.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="GroupNames" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Den Gruppennamen der im Template bestehen bleiben soll.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="CleanPnPTemplateContentTypeByGroupName">
    <xs:annotation>
      <xs:documentation>
        Damit werden SitColumns aus dem Provisioning Template entfernt
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="pathToProvisioningXML" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          The path to the ProvisioningXML where the SiteColumn are contained.
          Der Pfad zur ProvisioningXML wo die SiteColumn enthalten sind.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="GroupNames" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Den Gruppennamen der im Template bestehen bleiben soll.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="AP_SPProvisioning_SetSiteColumnDisplayName">
    <xs:annotation>
      <xs:documentation>
        Damit werden SitColumns aus dem Provisioning Template entfernt
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="pathToProvisioningXML" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          The path to the ProvisioningXML where the SiteColumn are contained.
          Der Pfad zur ProvisioningXML wo die SiteColumn enthalten sind.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="ChangeVersionInFile">
    <xs:annotation>
      <xs:documentation>
        Damit werden SitColumns aus dem Provisioning Template entfernt
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="FileName" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="AddWebPartToSite">
    <xs:annotation>
      <xs:documentation>
        Damit werden SitColumns aus dem Provisioning Template entfernt
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Site" type="alg:Site" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="RemoveExistWebParts" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>
          Damit kann angegeben werden ob die vorhandenen WebParts entfernt werden sollen.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Site">
    <xs:annotation>
      <xs:documentation>
        Bitte geben Sie die entsprechende Eigenschaften an die Sie Bearbeiten möchten
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="WebPart" type="alg:WebPart" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="ServerRelativePageUrl" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="WebPart">
    <xs:annotation>
      <xs:documentation>
        Geben Sie hier die nötigen Eigenschaften zu dem WebPart ein
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ChangeXML" type="alg:KeyValue" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="FileWithXMLContent" type="xs:string" use="required"/>
    <xs:attribute name="ZoneID" type="xs:string" use="required"/>
    <xs:attribute name="ZoneIndex" type="xs:integer" use="required"/>
  </xs:complexType>

  <xs:complexType name="KeyValue">
    <xs:attribute name="Key" type="xs:string" use="required"/>
    <xs:attribute name="Value" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="RemovedContentTypeFromListItems">
    <xs:annotation>
      <xs:documentation>
        Hiermit wird das Entfernen der Listen angestossen
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="ListName" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          Der Listenname der gelöscht werden soll
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="ListContentsToCSV">
    <xs:annotation>
      <xs:documentation>
        Hiermit können Sie eine Liste auslesen und erhalten eine pnp:DataRows XML Baum
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Column" type="alg:ListColumn" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="ListName" type="xs:string" use="required"/>
    <xs:attribute name="OutputFile" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Geben Sie hier den Pfad an. Wo die CSV Datei abgespeichert wird.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="ListColumn">
    <xs:annotation>
      <xs:documentation>
        Hiermit definieren Sie eine ListSpalte
      </xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="1">
      <xs:element name="String" type="alg:StringColumn" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Url" type="alg:UrlColumn" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Lookup" type="alg:LookupColumn" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="ColumnInternalName" type="xs:string"/>
    <xs:attribute name="DisplayName" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="LookupColumn">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="List" type="xs:string"/>
    <xs:attribute name="ListValue" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="UrlColumn">
    <xs:annotation>
      <xs:documentation>
        Bitte geben Sie die nötigen Eigenschaften für eine UrlColumn an.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="LinkText" type="xs:string" use="required"/>
    <xs:attribute name="LinkUrl" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="StringColumn">
    <xs:annotation>
      <xs:documentation>
        Hiermit gebe Sie die nötigen Eigenschaften für eine StringColumn an.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="Value" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="AddListContentFromCSV">
    <xs:annotation>
      <xs:documentation>
        Hiermit können Sie den Inhalt einer CSV Datei in eine Liste importieren.
        1. Spalte müssen die Spaltenbezeichnung (InternalName) enthalten sein
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="PathToCsv" type="xs:string" use="required" />
    <xs:attribute name="ListName" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:complexType name="AddFieldsOnListFromProvXML">
    <xs:annotation>
      <xs:documentation>
        Damit werden die Fields einer Liste aus der Provisionierungsxml installiert
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="pathToProvisioningXML" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          The path to the ProvisioningXML where the SiteColumn are contained.
          Der Pfad zur ProvisioningXML wo die SiteColumn enthalten sind.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Listname" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Der Name der Liste wo die Fields installiert werden sollen
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  
</xs:schema>
